@import url(https://fonts.googleapis.com/css?family='Rambla:400,700|Raleway:400,600|Abel|Muli|Josefin+Sans:400,300');
@import url(https://fonts.googleapis.com/css?family='Merienda|Rochester|Montez|Oleo+Script+Swash+Caps|Lily+Script+One|Engagement|Mrs+Sheppards');
.raleway
  font-family: 'Raleway', sans-serif;
.rambla
  font-family: 'Rambla', sans-serif;
.abel
  font-family 'Abel', sans-serif
.muli
  font-family 'Muli', sans-serif
.josefin
  font-family 'Josefin Sans', sans-serif
.Merienda
  font-family: 'Merienda', cursive;
.Rochester
  font-family: 'Rochester', cursive;
.Montez
  font-family: 'Montez', cursive;
.lily
  font-family: 'Engagement', cursive;



@media (min-width: 320px)
  for n in (1..5)
    .fn-xs-{n}
      font-size 0.3em + n * 0.2

@media (min-width:460px )
  for n in (1..5)
    .fn-sm-{n}
      font-size 0.3em + n * 0.4

@media (min-width: 1024px)
  for n in (1..5)
    .fn-lg-{n}
      font-size 2.1em + n * 0.4
