//img src
  $img1 = '../lib/assets/paris.jpg'
  $img2 = '../lib/assets/saint_augustin_paris.jpg'
  $orly = '../lib/assets/orly.jpg'

@import './mixins'

body
  font: 16px/1.5 'Open Sans', Helvetica, Helvetica Neue, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.9);

html, body
  height 100%
  margin 0
._left
  position relative

.drop-shadow
  position:relative;
  @media (min-width : 1240px)
    width:40%;
  padding:10px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border-radius 7px

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}
.curved-hz-2:before {
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.curled {
    border:1px solid #efefef;
    -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
	 border-radius:0 0 120px 120px / 0 0 6px 6px;
}

.curled:before,
.curled:after {
    bottom:12px;
    left:10px;
    width:50%;
    height:55%;
    max-width:200px;
    max-height:100px;
    -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
       -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
	    box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
    -webkit-transform:skew(-8deg) rotate(-3deg);
       -moz-transform:skew(-8deg) rotate(-3deg);
	-ms-transform:skew(-8deg) rotate(-3deg);
	 -o-transform:skew(-8deg) rotate(-3deg);
	    transform:skew(-8deg) rotate(-3deg);
}


//Pattern Bg
.stripes
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
.crossStripes
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
.subtleDots
  position absolute
  height 100%
  width 100%
  background url($orly)
  background-size cover

  // .pattern
  //   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");

//parallax
.parallaxParent
  height 110vh
  overflow hidden
  text-align center
  & > div#slider
    position relative
    height 150%
    top -50%
.bg
  &_head
     width 100%
     height 100%

.img
  z-index 1

.bg, .img
  pos absolute 0 0 0 0

.bg
  opacity 0.7
  z-index 2
  background 0px 0px no-repeat linear-gradient(45deg, hsla(208, 100%, 19%, 1) 0%, hsla(208, 100%, 19%, 0) 70%),linear-gradient(135deg, hsla(0, 0%, 0%, 1) 10%, hsla(0, 0%, 0%, 0) 80%),linear-gradient(225deg, hsla(201, 100%, 16%, 1) 10%, hsla(201, 100%, 16%, 0) 80%),linear-gradient(315deg, hsla(0, 0%, 29%, 1) 100%, hsla(0, 0%, 29%, 0) 70%);

.slider
  width 100%
  height 100%
  &-1
    .img
      background url($img1) no-repeat 30% 20%
      background-size cover
  &-2
    .img
      background url($img2) no-repeat 20% 50%
      background-size cover

#simulate
  padding-bottom 10%
  &:before
    z-index: 0;
    position: absolute;
    top 0
    left 0%
    width 100%
    height 110vh
    content: "";
    box-shadow: 0 4px 10px #777;
  &:after
    content: ''
    margin-bottom 10%
.header
  opacity 0.5
  & .img
    width 100%
    opacity 0.5
  &_way
    border-radius 5px 5px 0 0
    text-align right
    padding-right 10px
    color #FEFEFE
    background-color rgba(020,20,20,0.8)



.inner
  top 40%
  color #fff
  &-shadow
    border-radius: 5px
    background-color: rgba(200,200,200,.5)



.simulate
  top 0!important
  height 100%
@media only screen and (min-device-width : 320px) and (max-device-width:740px)
  .title
    margin-bottom -2.5em
    @media (orientation: landscape)
      .title
        margin-bottom -10%
.welcom
  color #67E3A7

.description
  color #F2F2F2
  font-size 1.2em
  text-align right
.desc
  font-size 1em
  text-align left

.blur
  filter: blur(2px);

.logo
  font-size 100px

 //Form
.form
  padding 10px
.form-group
  text-align left

.indice
  text-align left
  color #EFEFEF

.round
  border-radius 5px 0 0 5px!important

.flex
  display flex

.title
  position relative
  text-align left
  top 100vh

.row-eq-height
  @media screen and (min-width: 460px)
    display: flex

#way
 & h1
  color #fafafa
#simulator
  display none
  padding 5px
#map
  height 50vh

.d
  &:after
    content : 'de :'
    margin-left : 10px
.a
  &:after
    content : 'à  :'
    margin-left : 16px

.table
    border #202020
    background #F2F2F2
    color #101010

.pointer
  cursor pointer

.carousel-indicators
  bottom 40vh!important
  @media only screen and (max-width : 420px)
    bottom 50vh!important
  @media only screen and (min-width : 720px)
    bottom 40vh!important

//modal
.modal.modal-wide .modal-dialog
  @media only screen and ( min-width : 940px )
    width: 90%;
    .results
      padding 10px

.modal-wide .modal-body {
  overflow-y: auto;
}

// results


.price
  background-color #36F
  font-size : 1.3em
  font-weight : bold
  color #EEE

//fonts
@import './fonts'
